body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#library {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
  background-image: url("img/library/full1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
